extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  a(href='/contact/add') Add Contact 
  if contact.length > 0
    table 
      thead   
        tr 
          th First Name 
          th Last Name 
          th Email 
          th Notes
        tbody 
          each value in contact 
            tr 
              td= value.firstName 
              td= value.lastName
              td= value.email
              td 
                a(href=`/contact/${value.id}`)= 'View Contact '
                a(href=`/contact/${value.id}/edit`)= 'Edit Contact '
                a(href=`/contact/${value.id}/delete`)= 'Delete Contact'



